%h1 Backup/Restore
%p= link_to("Backup all posts", url(:backup,:format=>:xml))
%p
  %form{:action=>url(:backup), :enctype=>"multipart/form-data", :method=>"post"}
    %p 
      Domains:
      = select(:restore_domain, :prompt=>'Use File Default', :selected=>'', :collection=>Merb::Config[:domains].keys)
    %p 
      Upload backup file:
      %input{:name=>'file', :size=>"40", :type=>"file"}
    %p
      = submit("Upload")