%h2 Admin Page
.header
  %h3=link_to("New Post", '/posts/new')
  %h3=link_to("Statisitic", '/admin/stats')
.content
  .col1
    %h3 Drafts
    %ul#drafts.plist
      = partial :post, :with=>@drafts
  .col2
    %h3 Pending
    %ul#pending.plist
      = partial :post, :with=>@pending