%h2 Admin Page
%h3=link_to("New Post", '/posts/new')
%h3 drafts
%ul#drafts
  - Post.drafts.each do |draft|
    %li{:id=>"post_#{draft.id}"}
      = draft.title
      = link_to("edit", resource(draft,:edit))