%ul#adminmenu.admin
  %li=link_to('Write Post',url(:post,:new))
  %li.drafts=link_to('Drafts',url(:admin))
  %li.pending=link_to('Pending',url(:admin))
  %li=link_to('Stats',url(:admin))
  %li=link_to('Backup/Restore',url(:backup))
  %li=link_to('Admin',url(:admin))
  %li=link_to('Logout',url(:admin))