%ul.menu
  %li= link_to('The Game','http://antarestrader.com')
  %li= link_to('The Blog',url(:home))
  %li= link_to('About Us',url(:static,:page=>'about'))
  %li= link_to('Contact',url(:static,:page=>'contact'))
  