.header
  %h2= @page
  %p Template Missing, Page not found.
.content
  We are very sorry, but this page is not ready yet or does not exist.  If you reached
  this page from a link on our pages, know that we are working quickly to bring you this
  content.  If you linked in here from somewhere else, please check the URL, and inform
  the webmaster of the web page that Brought you here.